*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #1a1616d4;
}
.sidebar{
    position: fixed;
    width: 75px;
    background-color: #d4c0d58c;
    inset: 20px 0 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar.open{
    width: 200px;
}
.sidebar .toggleMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.sidebar .toggleMenu::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transition: 0.5s;
}
.sidebar .toggleMenu::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
    transition: 0.5s;
}
.open .toggleMenu::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
    transform: rotate(45deg);
    transition: 0.5s;
}
.open .toggleMenu::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    box-shadow: none;
    transform: translateY(8px);
    transform: rotate(-45deg);
    transition: 0.5s;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}
.sidebar ul li{
    list-style: none;
    position: relative;
    width:100%;
    height: 60px;
    padding: 0 10px;
    transition: 0.5s;
}
.sidebar ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    /* flex-direction: column; */
}
.sidebar ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 65px;
    transition: 0.5;
    color: #222;
    border-radius: 10px;
    font-size: 1.75em;
}
.sidebar ul li.active a .icon{
    color: white;
    background-color: var(--clr);
}
.sidebar ul li a .icon::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: var(--clr);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}
.sidebar ul li.active a .icon::before{
    opacity: 0.5;
}
.sidebar ul li a .text{
    position: relative;
    padding: 0 10px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #333;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.sidebar.open ul li a .text{
    opacity: 1;
    visibility:visible;
}
.sidebar.open ul li.active a .text{
    color: var(--clr);
}
.sidebar ul li.active{
    transform: translateX(30px);
}
.sidebar.open ul li.active{
    transform: translateX(12px);
}
